/* index15.html onwards*/
img {
  float: center;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    font-size: 40px;
    text-align: center;
    background: tomato;

    float: left;
}

p {
    clear: both;
}

