/* index17.html onwards*/

a:link {    
    color: lawngreen;
}
a:visited {
    color:gray;
}
a:hover {
    color: tomato;
}
a:active {
    color: teal;
}
button:hover {
    background-color: lightgrey;
}
button:active {
    background-color: white;
}
/* li:nth-child(4){
    background-color: yellow;
} */
li:nth-child(even){
    background-color: skyblue;
}
li:nth-child(odd){
    background-color: powderblue;
}
/* li:nth-child(3n+1){ --formula being used
    background-color: skyblue;
}
li:nth-child(5n+1){
    background-color: powderblue;
} */