/* index14.html onwards*/

body {
    margin: 0px;
}


#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: greenyellow;

    padding: 30px; /* margin is not equal to padding*/

    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;

    margin: 50px; /* margin: 50px is equivalent to 4 separate lines above*/
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: dodgerblue;
}

#box3{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: greenyellow;

    margin-left: 30%;
}

#box4{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: greenyellow;

    margin-left: auto; /* margin will be auto calculated*/
}